.slick-arrow {
  position: absolute;
  top: 50%;
}

.slick-prev {
  left: 5%;
  z-index: 99;

  /* font-szie: 0;
  line-height: 0;

  position: absolute;
  top: 50%;

  display: block;

  width: 20px;
  height: 20px;
  padding: 0;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);

  cursor: pointer;

  color: transparent;
  border: none;
  outline: none;
  background: transparent; */
}
/* .slick-prev:hover  */
.slick-next {
  right: 10%;
}
